.slider--up {
  height: 90vh;
  width: 40vw;
  position: absolute;
  top: 150vh;
  left: 10vw;
  z-index: 20;
  transform: rotate(-5deg) scale(1.2);

  animation: slideUp 1s cubic-bezier(1, 0, 0, 1) 2.5s;
  animation-fill-mode: forwards;
}

.slide-right {
  font-size: 5rem;
  color: rgb(17, 17, 21);
  position: absolute;
  top: 60%;
  right: 0;
  opacity: 0.5;
  z-index: 100;
  transition: all 0.3s ease;
  transform: translateX(10%);
  cursor: pointer;

  &:hover {
    color: rgb(22, 18, 44);
    transform: translateX(0);
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }

  ion-icon {
    position: relative;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: -85%;
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
    filter: blur(1px);
    height: 15rem;
    width: 5rem;
    z-index: 90;
  }
}

.slide-left {
  font-size: 5rem;
  color: rgb(17, 17, 21);
  position: absolute;
  top: 60%;
  left: 0;
  opacity: 0.5;
  z-index: 100;
  transition: all 0.3s ease;
  transform: translateX(-10%);
  cursor: pointer;

  &:hover {
    color: rgb(22, 18, 44);
    transform: translateX(0);
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }

  ion-icon {
    position: relative;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: -85%;
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3));
    filter: blur(1px);
    height: 15rem;
    width: 5rem;
    z-index: 90;
  }
}
