// *** FONT VARIABLES

$font-primary: "Lato", sans-serif;
$font-secondary: "Syne", sans-serif;
$font-teritiary: "Josefin Sans", sans-serif;

// *** COLOR VARIABLES

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
