#account__container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-rows: repeat(2, min-content);

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(8, minmax(min-content, 14rem)) [center-end]
    minmax(6rem, 1fr) [full-end];
}

.main__account {
  margin-top: 10%;

  .user-view {
    grid-column: center-start / center-end;

    height: 100%;
    width: 100%;

    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);

    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 20vw 1fr;

    &__menu {
      grid-column: 1 / 2;
      align-self: start;

      height: 100%;

      &::-webkit-scrollbar {
        width: 5px;
      }

      background-image: linear-gradient(to right bottom, rgb(136, 0, 118), #ff808a);
      padding: 4rem 0;
    }

    &__form-container {
      width: 100%;
      padding: 5rem 8rem;

      &:first-of-type {
        padding-bottom: 2.5rem;
      }
    }

    .side-nav {
      list-style: none;
      height: fit-content;

      font-family: $font-teritiary;

      li {
        margin: 1rem 0;
        border-left: 0 solid #fff;
        transition: all 0.2s ease;

        padding-left: 3rem;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:hover {
          ion-icon {
            transform: translateX(0.6rem);
          }

          a {
            transform: translateY(0.1rem) translateX(0.5rem);
          }
        }
      }

      &--active,
      & li:hover {
        border-left: 4px solid #fff !important;
      }

      &--active a {
        transform: translateY(0.1rem) translateX(-0.5rem);
      }

      a:link,
      a:visited {
        padding: 1rem;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 1.7rem;
        text-transform: capitalize;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.3s ease;

        transform: translateY(0.1rem);
      }
      a:hover,
      a:active {
      }

      ion-icon {
        font-size: 2.5rem;
        color: #f7f7f7;

        transition: all 0.3s ease;
      }
    }

    .admin-nav {
      margin-top: 5.5rem;

      &__heading {
        margin: 0 5rem 1.5rem 4rem;
        padding-bottom: 3px;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #f2f2f2;
        border-bottom: 1px solid #ddd4d4;
      }
    }

    .form {
      margin: 2rem 0;

      &__submit {
        margin: 0 50%;
      }

      &__input {
        display: block;
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        padding: 1.25rem 1.75rem;
        border: none;
        width: 100%;
        background-color: #fff;
        background-color: #f2f2f2;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* Pseudo element (a visible thing that isn't really in the DOM).
                Also needs -ms- */
      }
      &__input:focus {
        outline: none;
        border-bottom: 3px solid #55c57a;
      }
      &__input:focus:invalid {
        border-bottom: 3px solid #ff7730;
      }
      &__input::-webkit-input-placeholder {
        color: #bbb;
      }

      &__group:not(:last-child) {
        margin-bottom: 3rem;
      }

      &__label {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        color: rgb(133, 127, 127);
        margin-bottom: 0.75rem;
      }

      &__photo-upload {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
      }

      &__user-photo {
        height: 7.5rem;
        width: 7.5rem;
        border-radius: 50%;
        margin-right: 2rem;
      }

      &__upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      &__upload:focus + label {
        outline: 3px solid #55c57a;
        outline-offset: 3px;
      }

      &__upload + label {
        color: #55c57a;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #55c57a;
        padding: 3px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer;
      }
      &__upload + label:hover {
        background-color: #55c57a;
        color: #fff;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }

    &--wrapper {
      grid-column: 2 / -1;

      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      padding: 2rem 5rem;
    }
  }
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #f4f4f4;
}

.avatar__selection {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 501;

  .backdrop {
    z-index: 500;
  }

  .modal {
    height: fit-content;
    width: fit-content;

    background-color: #f4f4f4;
    padding: 5rem;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 502;
    transform: translate(-50%, -50%);

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        cursor: pointer;

        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        .avatar__img {
          margin: 0;
          padding: 0;
          height: 7.5rem;
          width: 7.5rem;
          border-radius: 50%;

          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0.1rem 0.1rem 3rem rgba(0, 0, 0, 0.2);
            filter: contrast(110%) brightness(110%);
          }

          &:active,
          &:focus {
            box-shadow: none;
            transform: none;
          }
        }
      }
    }
  }
}

.small-link {
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: $font-teritiary;
  transform: translateY(0.2rem);
  color: rgba(65, 27, 65, 0.507);
  cursor: pointer;

  transition: all 0.4s ease;

  &:hover {
    color: rgb(133, 133, 133);

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    background-color: rgb(162, 162, 162);

    transition: all 0.4s ease;
  }
}
