*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-port) {
    font-size: 50%; // * 1rem = 8px; 8px/16px = 50
  }
  @include respond(tab-land) {
    font-size: 56.25%; // * 1rem = 9px; 9px/16px = 56.25%
  }

  @include respond(big-desktop) {
    font-size: 80%; // * 1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 70%, rgb(221, 255, 255));
  font-family: $font-secondary;
  overflow-x: hidden;
}

::selection {
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 90, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 30, 82);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 30, 82, 0.5);
}
